<footer class="footer">
  <div class="footer-content">

    <!-- Logo -->
    <div class="footer-logo">
      <a routerLink="/">
        <img
          src="assets/logo/signature-white.png"
          alt="Simply Wellness"
        />
      </a>
    </div>

    <!-- Links -->
    <div class="footer-links">

      <ul>
        <li><a routerLink="/about">My Story</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/investing">Investing</a></li>
        <li><a routerLink="/speaking">Public Speaking</a></li>
      </ul>

      <ul>
        <li><a routerLink="/videos">Latest Videos</a></li>
        <li><a routerLink="/courses">Courses</a></li>
        <li><a routerLink="/newsletter">Newsletter</a></li>
        <li><a routerLink="/do-epic-shit">DO EPIC SHIT</a></li>
        <li><a routerLink="/get-epic-shit-done">GET EPIC SHIT DONE</a></li>
        <li><a routerLink="/make-epic-money">MAKE EPIC MONEY</a></li>
        <li><a routerLink="/build-epic-career">BUILD AN EPIC CAREER</a></li>
      </ul>

      <ul>
        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        <li><a routerLink="/return-policy">Return Policy</a></li>
        <li><a routerLink="/terms">Terms & Conditions</a></li>
      </ul>

    </div>
  </div>

  <!-- Bottom bar -->
  <div class="footer-bottom">
    © Copyright Simply Wellness. All Rights Reserved.
  </div>
</footer>
