<!-- ================= SOCIAL SECTION ================= -->
<section class="social">
  <h2>Find Dr Umesh Wadhavani on</h2>

  <p>
    Join a growing community focused on healthy living in a sustainable manner,
    using Ghar Ka Khaana!
  </p>

  <div class="social-icons">
    <a href="https://www.youtube.com/umeshwadhavani" target="_blank" class="social-item">
      <img src="assets/icons/Youtube.svg" alt="YouTube" />
      <span>YouTube</span>
    </a>

    <a href="https://instagram.com/thesimplywellness" target="_blank" class="social-item">
      <img src="assets/icons/instagram.svg" alt="Instagram" />
      <span>Instagram</span>
    </a>

    <a href="https://www.instagram.com/dr.umesh.wadhavani" target="_blank" class="social-item">
      <img src="assets/icons/instagram.svg" alt="Hindi Instagram" />
      <span>Hindi Instagram</span>
    </a>

    <a href="https://www.linkedin.com/in/drumeshwadhavani/" target="_blank" class="social-item">
      <img src="assets/icons/linkedin.svg" alt="LinkedIn" />
      <span>Sindhi LinkedIn</span>
    </a>

    <a href="https://www.facebook.com/drumeshwadhavani/" target="_blank" class="social-item">
      <img src="assets/icons/facebook.svg" alt="Facebook" />
      <span>Facebook</span>
    </a>

  </div>
